.text {
  font-size: 27px;
  color: white;
  background-color: black;
  text-decoration: underline;
  font-style: italic;
}

#seventh {
  font-size: 35px;
  border: 3px solid blue;
  font-weight: bolder;
}

.text-paragraph {
  font-size: 25px;
  border-right: 3px;
  border-color: red;
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.color {
  color: red;
}
