.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100vw;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 444px;
  position: relative;
  background-color: #fff;
  padding: 60px;
  gap: 5px;
  border: 3px solid black;
  background-color: aquamarine;
}

.text {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: blueviolet;
}

.text-botom {
  font-size: 20px;
}

.button {
  font-size: 15px;
  color: red;
  border-radius: 7px;
  background-color: antiquewhite;
}

.input {
  border-radius: 7px;
  color: red;
  background-color: antiquewhite;
}
